.innerLeftArrow::before{
  content: '';
  position: absolute;
  left:4px;
  top:4px;
  width:8px;
  height:8px;
  border-top:1px solid #666;
  border-left:1px solid #666;
  transform:rotate(0deg);
}
.innerRightArrow::before{
  content: '';
  position: absolute;
  right:4px;
  top:4px;
  width:8px;
  height:8px;
  border-top:1px solid #666;
  border-left:1px solid #666;
  transform:rotate(90deg);
}