.tr180ty-50{
  transform: translateY(-50%) rotate(180deg);
}
.hoverBorder:hover{
  border-color: #1aada7 !important;
}
.h100px{
  height:300px;
}
.hoverCurItemBg:hover{
  background-color: #f3f3f3;
}
.bddcdee2{
  border:1px solid #dcdee2
}
.cusHightSelect .ivu-select-selection{
  display: flex !important;
}