.hoverBorder:hover{
  border-color:#57a3f3 !important;
}
.hoverBorder:focus{
  border-color:#57a3f3 !important;
  box-shadow: 0 0 0 2px rgba(45,140,240,.2);
}
.bdAndNone{
  border:1px solid #dcdee2;
  outline:none;
}